{extends file="admin-layout.tpl"}

{block name="check-access"}view{/block}
{block name="page-title"}{intl l="DPD Labels" d="dpdlabel.bo.default"}{/block}


{block name="main-content"}
    {loop type="currency" name="default_currency_dpdclassic" default_only="1"}
    {assign "currencySymbol" $SYMBOL}
    {/loop}

    {assign "err" $smarty.get.err|default:null}

    <div class="row">
        <div class="col-md-12">
            <div class="general-block-decorator">
                {if $err|default:null}
                    <div class="alert alert-danger">{$err}</div>
                {/if}
                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center">{intl l='Reference' d='dpdlabel.bo.default'}</th>
                                <th class="text-center">{intl l='Status' d='dpdlabel.bo.default'}</th>
                                <th class="text-center">{intl l="Date" d='dpdlabel.bo.default'}</th>
                                <th class="text-center">{intl l="Total Amount" d='dpdlabel.bo.default'}</th>
                                <th class="text-center">{intl l='Destination' d='dpdlabel.bo.default'}</th>
                                <th class="text-center">{intl l='Label Number' d='dpdlabel.bo.default'}</th>
                                <th class="actions text-center">{intl l='Action' d='dpdlabel.bo.default'}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop type="dpdlabel.orders" name="get-dpdlabel-orders"}
                                {DpdLabelNumber order_id=$ID}
                                <tr>
                                    <td class="text-center"><a href="{url path="admin/order/update/%orderId" orderId=$ID}">{$REF}</a></td>
                                    {loop type="order-status" name="order_status_loop" id={$STATUS}}
                                        <td class="text-center">
                                            <span class="label" style="background-color: {$COLOR}">{$TITLE}</span>
                                        </td>
                                    {/loop}
                                    <td class="text-center">{format_date date=$CREATE_DATE}</td>
                                    <td class="text-center">{$TOTAL_AMOUNT + $TOTAL_TAX} {$currencySymbol}</td>
                                    {loop type="order_address" name="destination_loop" id=$DELIVERY_ADDRESS}
                                    {loop type="country" name="destination_country_loop" id="$COUNTRY"}
                                    {assign "country" $TITLE}
                                    {/loop}
                                        <td class="text-center">{$country}, {$ADDRESS1}, {$CITY} {$ZIPCODE}</td>
                                    {/loop}
                                    <td class="text-center">
                                        <a href={url path='/admin/module/DpdLabel/getLabel/%orderRef' orderRef=$REF}>
                                            {$labelNbr}
                                        </a>
                                    </td>
                                    <td class="actions text-center">
                                        <a class="btn btn-default btn-xs js-export-download {if $labelNbr}hidden{/if} dpdlabel-label-dialog-button"
                                           title="{intl l='Download this label' d='dpdlabel.bo.default'}"
                                           href="#dpdlabel-label-dialog" data-toggle="modal" data-order={$ID}>
                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                        </a>
                                        <a class="btn btn-default btn-xs js-export-download {if !$labelNbr}hidden{/if}"
                                           title="{intl l='Download this label' d='dpdlabel.bo.default'}"
                                           href="{url path="/admin/module/DpdLabel/saveLabel" orderId=$ID}">
                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                        </a>
                                        <a class="btn btn-danger btn-xs"
                                           title="{intl l='Delete this label' d='dpdlabel.bo.default'}"
                                           href="{url path='/admin/module/DpdLabel/deleteLabel' orderId=$ID redirect_url="/admin/module/DpdLabel/labels"}"
                                           {if !$labelNbr}disabled="true"{/if}>
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {/loop}
                            {elseloop rel="get-dpdlabel-orders"}
                            <tr>
                                <td colspan="99">
                                    <div class="alert alert-info" style="margin-bottom:0">
                                        {intl l="There is no DPD label yet. To create your labels, use the label creation tool in the \"Shipping and billing\" tab of your orders." d='dpdlabel.bo.default'}
                                    </div>
                                </td>
                            </tr>
                            {/elseloop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {if $smarty.get.file|default:null}
        <iframe style="width:100%;height:20px;border:none" src="{url path="/admin/module/DpdLabel/labels-file/%hash" hash={$smarty.get.file}}"></iframe>
    {/if}

    {form name="dpdlabel_label_generation_form"}

    {capture "dpdlabel_label_creation"}
        {form_hidden_fields}

        {render_form_field field='weight' value=$WEIGHT}
    {/capture}


    {include
        file = "includes/generic-create-dialog.html"

        dialog_id    = "dpdlabel-label-dialog"
        dialog_title = {intl l="Create label" d='dpdlabel.bo.default'}
        dialog_body  = {$smarty.capture.dpdlabel_label_creation nofilter}

        dialog_ok_label     = {intl l="Create" d='dpdlabel.bo.default'}
        dialog_cancel_label = {intl l="Cancel" d='dpdlabel.bo.default'}

        form_action        = {url path='admin/module/DpdLabel/saveLabel'}
        form_enctype       = {form_enctype}
        form_attributes     = 'id="dpdlabel-label-dialog-form"'
        form_error_message = $form_error_message
    }

    {/form}
{/block}

{block name="javascript-last-call"}
<script type="text/javascript">
    $(".dpdlabel-label-dialog-button").on("click", function () {
        $("#dpdlabel-label-dialog-form").attr("action", "{url path='admin/module/DpdLabel/saveLabel'}" + "?orderId=" + $(this).attr("data-order"));
    })
</script>
{/block}


